@font-face {
    font-family: 'PressStart';
    font-weight: 600;
    src: url("../fonts/PressStart2P-Regular.ttf");
}

:root {
  --font-main: "PressStart", monospace;
  
  --bg-main: #9fb4ce;
  --bg-main-light: #b0cde7;

  --bg-screen: #2b3b6b;
  --bg-screen-dark: #1a2448;
  --bg-screen-deep: #0d1020;

  --panel-status: #f8f8d8;
  --panel-dialog: #285068;
  --panel-options: #f8f8f8;

  --text-primary: #1a1a1a;
  --text-secondary: #ffffff4d;
  --text-light: #fff;

  --border-primary: #222222;
  --border-light: rgba(255, 255, 255, 0.3);
  --border-purple: #404870;
  --border-yellow: #cfb676;

  --btn-primary: #222222;
  --btn-primary-hover: #131313;

  --pokemon-yellow: #ffcb05;

  --white: #ffffff;
  --off-white: #f8f8d8;
  --dark: #333;

  --radius-sm: 4px;
  --radius-md: 8px;

  --text-shadow-ss: 2px 2px 0 rgba(0, 0, 0, 0.5);
  --text-shadow-sm: 3px 3px 0 rgba(0, 0, 0, 0.8);
  --text-shadow-lg: 6px 6px 0 rgba(0, 0, 0, 0.35);

  --text-shadow-pokemon:
    var(--text-shadow-sm),
    var(--text-shadow-lg);

  --transition-fast: 0.3s;
  --transition-normal: 0.5s;
  --transition-slow: 0.9s;
}

body {
    background: linear-gradient(to top, var(--bg-main), var(--bg-main-light));
    min-height: 100vh;
    background-repeat: no-repeat;
    font-family: var(--font-main);
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
    color: var(--text-primary);
}