@font-face {
    font-family: 'PressStart';
    font-weight: 600;
    src: url("../fonts/PressStart2P-Regular.ttf");
}

body {
    background: linear-gradient(to top, #9fb4ce, #b0cde7);
    min-height: 100vh;
    background-repeat: no-repeat;
    font-family: "PressStart", cursive;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #33383d;
}